/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/08/2016, 14:35:34
    Author     : Daniel
*/

html, body {
    width: 100%;
    height: 100%;
    margin: auto;
    background-color:whitesmoke;
}

div.top{
    position: relative;
    font-family: sans-serif;
    font-size: 24px;
    width: 100%;
    height: 6%;
    border-bottom: 2px;
    text-align: center;
    padding-top: 40px;
    margin-right: 10px;

}
div.esquerdaSuperior{
    text-align: center;
    position: relative;
    height: 25%;
    float:left;
    width: 90%;
    margin: 10px;
    padding-top: 15px;
    padding-left: 50px;
    padding-bottom: 0px;
}


div.centro{
    text-align: center;
    position: absolute;
    top:35%;
    left: 5%;  
    height: 45%;
    width: 98%;
    border-top: 2px;
    margin: 1px;
}
div.centro2{
    position: absolute;
    top:55%;
    left: 5%;  
    height: 45%;
    width: 98%;
    border-top: 2px;
    margin: 1px;
}
div.inferior{
    position: absolute;
    top:73%;
    width: 100%;
    height: 8%;
    padding: 10px;
    border-top: 2px;
    text-align: center;
}

div.inferior2{
    position: absolute;
    top:86%;
    width: 100%;
    height: 8%;
    padding: 10px;
    border-top: 2px;
    text-align: center;
}

imput.btn{
    
    height: 30px;
    width: 100px;
    margin-right: 0px;
}
input{
    padding: 2px;
    height: 15px;
    margin-right: 15px;
}

input.rdb{
    height: 15px;
    width: 50px;
    margin-right: 0px;
}


label{
    font-size: 18px;
    font-style:normal;

}



input.valor{
    height: 15px;
    width: 50px;
}

td{
    
    background-color: white;
}

tr{
    width: 100;
    background-color:gainsboro;
}
