html, body {
    position:absolute;
    float: left;
    top:0;
    left: 50px;
    width:1024px;
    height: 750px;
    margin: auto;
    align-content: center;
    background-color: whitesmoke;


}
.norte{
    position:relative;
    float: left;
    top:0;
    left: 100px;
    width:1024px;
    height:70px;	
   

}
#titulo{
    color:black;
    font-size: 28px;
    text-align: center;
}
.informacao{
    position:relative;
    float: left;
    left: 100px;
    top:10px;
    width: 1024px;
  height: 50px;

}
.tabela1{
    position:relative;
    float: left;
    left: 100px;
    width: 1024px;
    height: 175px;
   
     overflow-y: scroll;
     margin-bottom: 10px;

}
p{
    display: inline;
}
.informacao2{
    position:relative;
    float: left;
    left: 100px;
    width: 1024px;
    margin-bottom: 10px;
}
.Data{
    position:relative;
    float: left;
    left: 100px;
    width: 1024px;
}
.sair{
    position:relative;
    float: left;
    left: 100px;
    width: 1024px;
}
.AlinhaDireita{
    float: right;

}
tr{
    height: 20px;
    padding: 5px;
    background-color: white;
    align-content: center;
}
th{

    padding: 5px;
    background-color: white;
    align-content: center;
}
.tblProduto td{
    height: 20px;
    background-color: white;
    align-content: center;
}
.tblProduto td:first-child{
    width: 200px;
}
.tblProduto td:first-child+td{
    width: 600px;
}
.tblProduto td:first-child+td+td{
    width: 300px;
}
.tblProduto{
    border-collapse: collapse;
    display: table-cell;
    width: 1024px;
    height: 175px;
}


